*,*:before,*:after {
    box-sizing: inherit;
}

html,body {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.hero {
    height: 25vh;
    background-color: #1F2937;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 0 15vw;
}

.logo {
    font-size: 26px;
    color: #F9FAF8;
    font-weight: 600;
}

.link {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
    padding: 1.5rem;
}



